@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	@apply antialiased;
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-end-rgb));
	margin: 0;
	padding: 0;
}

.grid-rows-4 {
	grid-template-rows: repeat(4, minmax(0, 1fr));
}

/* VS Code ve diğer otomatik eklenen class'ları engelleyin */
*[class*='vsc-initialized'] {
	display: none !important;
}

#app-root {
	min-height: 100vh;
}
